/* edit.module.css */
.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.mt5 {
    margin-top: 40px; /* Adjust according to your design */
}

.mx7 {
    margin-left: 56px; /* Adjust according to your design */
    margin-right: 56px; /* Adjust according to your design */
}
